@font-face {
  font-family: "Magistral";
  src: url("../media/fonts/Magistral-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Magistral";
  src: url("../media/fonts/Magistral-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Magistral";
  src: url("../media/fonts/Magistral-Book.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../media/fonts/SFProText-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../media/fonts/SFProText-Light.ttf");
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 0;
}

.scrollbtn {
  cursor: pointer;
}

.mob {
  display: none;
}

.desk {
  display: initial;
}

body,
html {
  font-size: 0.0694444444vw;
  background: #2c2927;
}

.container {
  width: 1308rem;
  margin-left: 66rem;
  margin-right: 66rem;
}

header {
  padding-top: 17rem;
  padding-bottom: 20rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  transition: all 0.4s ease;
}
header.active {
  background: linear-gradient(180deg, rgba(44, 41, 39, 0.5) 0%, rgba(44, 41, 39, 0) 100%);
}

.header-product-top-right {
  display: flex;
  align-items: center;
}

.header-product-top-right-button {
  border-radius: 8rem;
  padding: 0rem 32rem;
  width: 217rem;
  height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16rem;
}

.header-product-top-right-button-text {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #fff;
}

.header-product-top-right-button-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-top {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 14rem;
  margin-bottom: 14rem;
}
.header-top__logo {
  width: 108rem;
  height: 40rem;
  position: relative;
}
.header-top__logo img {
  width: 100%;
  height: 100%;
}
.header-top__cart {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 28rem;
  height: 28rem;
}
.header-top__cart svg {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}
.header-top__cart:hover svg {
  filter: drop-shadow(0rem 0rem 2rem rgba(255, 255, 255, 0.9));
}
.header-top::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.59) 51%, rgba(232, 232, 232, 0) 100%);
  width: 100%;
  height: 1rem;
}

.header-bottom {
  display: flex;
  justify-content: center;
}

.syte-nav__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40rem;
       column-gap: 40rem;
}
.syte-nav__list__item {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.syte-nav__list__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 0;
  overflow: hidden;
  height: 1rem;
  background: linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.7) 51%, rgba(232, 232, 232, 0) 100%);
  bottom: -6rem;
  left: 0;
  transition: all 0.4s ease;
}
.syte-nav__list__item:hover::before {
  max-width: 100%;
}

.front-screen {
  position: relative;
  height: 792rem;
}
.front-screen .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 60rem;
  position: relative;
  z-index: 2;
}
.front-screen__heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
.front-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  padding: 64rem 0;
  background: #2c2927;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 428rem);
  flex-direction: column;
  gap: 24rem;
}
.gallery-wrapper__item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 476rem;
  padding: 16rem;
  border-radius: 8rem;
  overflow: hidden;
}
.gallery-wrapper__item:hover .gallery-wrapper__item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.05;
}
.gallery-wrapper__item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease;
}
.gallery-wrapper__item__name {
  position: relative;
  z-index: 2;
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
}
.gallery-wrapper__item:nth-child(1) {
  grid-column: span 2;
}
.gallery-wrapper__item:nth-child(4n) {
  grid-column: span 2;
}
.gallery-wrapper__item:nth-child(5n) {
  grid-column: span 2;
}
.gallery-wrapper__item:nth-child(9n) {
  grid-column: span 2;
}
.gallery-wrapper__item:nth-child(10n) {
  grid-column: span 1;
}
.gallery-wrapper__item:nth-child(13n) {
  grid-column: span 2;
}
.gallery-wrapper__item:nth-child(15n) {
  grid-column: span 1;
}
.gallery-wrapper__item:nth-child(17n) {
  grid-column: span 2;
}
.gallery-wrapper__item:nth-child(18n) {
  grid-column: span 1;
}

.card {
  position: relative;
  height: 792rem;
  padding-bottom: 50rem;
}
.card .container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.card__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__desk {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
}
.card__info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card__info__name {
  font-family: "Magistral", sans-serif;
  font-weight: 300;
  font-size: 24rem;
  line-height: 140%;
  color: #fff;
  margin-bottom: 60rem;
}
.card__info__product {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10rem;
}
.card__info__model {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60rem;
}
.card__info__href {
  width: 64rem;
  height: 64rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  border: 1rem solid #FFF;
  transition: all 0.4s ease;
}
.card__info__href:hover {
  box-shadow: 0 0 8rem 0 #fff, 0 0 16rem 0 #fff;
}
.card__info__href svg {
  width: 28rem;
  height: 28erm;
}
.card__info__href.product-button {
  border: 0.72rem solid #fff;
  border-radius: 101rem;
  padding: 16rem;
  width: 255rem;
  height: 63rem;
  background: none;
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  line-height: 140%;
  color: #fff;
  display: flex;
  align-items: center;
}
.card__info__href.product-button .product-button-svg {
  width: 30rem;
  height: 30rem;
  margin-left: 4rem;
}

.gift {
  padding: 64rem 0;
  background: #2c2927;
}

.gift__heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 35rem;
}

.gift-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 309rem);
  gap: 24rem;
}
.gift-wrapper__item {
  width: 100%;
  height: 476rem;
  position: relative;
  padding: 16rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 8rem;
  overflow: hidden;
}
.gift-wrapper__item__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.gift-wrapper__item__text {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
  position: relative;
  z-index: 2;
}

.video {
  height: 792rem;
  position: relative;
}
.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.deliviry {
  padding: 64rem 0;
}
.deliviry .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deliviry .container.garant {
  border: 1.2rem solid rgba(255, 255, 255, 0.28);
  border-radius: 16rem;
  padding: 38rem 48rem;
  width: 1308rem;
  height: 208rem;
  background: #35312f;
  padding: 38rem 48rem;
  margin-top: 65rem;
}

.deliviry-left__heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30rem;
  width: 480rem;
}

.deliviry-left-items {
  display: flex;
  flex-direction: column;
  row-gap: 16rem;
  margin-bottom: 65rem;
  width: -moz-fit-content;
  width: fit-content;
}

.deliviry-left__item {
  display: flex;
  align-items: center;
  padding: 18rem 30rem;
  background: #35312f;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8rem;
  overflow: hidden;
}
.deliviry-left__item__svg {
  width: 28rem;
  height: 28rem;
  margin-right: 10rem;
}
.deliviry-left__item__text {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
}
.deliviry-left__item__doly {
  margin-left: 6rem;
  width: 94rem;
  height: 17rem;
}

.deliviry-button {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
  border: 1rem solid #676563;
  border-radius: 8rem;
  padding: 15rem 32rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.4s ease;
}
.deliviry-button:hover {
  border: 1rem solid #fff;
}

.deliviry-right {
  position: relative;
  width: 637rem;
  height: 383rem;
  padding: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.deliviry-right__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8rem;
  overflow: hidden;
}
.deliviry-right__text {
  border-radius: 10rem;
  padding: 16rem 24rem;
  width: 594rem;
  height: 62rem;
  -webkit-backdrop-filter: blur(38.7318840027rem);
          backdrop-filter: blur(38.7318840027rem);
  background: rgba(71, 71, 71, 0.3);
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 16rem;
  line-height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deliviry-garant-left {
  width: 480rem;
}
.deliviry-garant-left__heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20rem;
}
.deliviry-garant-left__text {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
}

.deliviry-garant-right {
  width: 250rem;
}
.deliviry-garant-right__text {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
  margin-bottom: 40rem;
}
.deliviry-garant-right__button {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
  padding: 15rem 34rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1rem solid #676563;
  border-radius: 8rem;
  padding: 0rem 32rem;
  width: 248rem;
  height: 52rem;
  transition: all 0.4s ease;
}
.deliviry-garant-right__button:hover {
  border: 1rem solid #fff;
}

footer {
  background: #131211;
  padding-top: 60rem;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-btm {
  background: #2c2927;
  padding: 9rem 0;
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 110rem;
  height: 44rem;
  margin-bottom: 50rem;
  display: block;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50rem;
}
.footer-nav__menu {
  display: flex;
  flex-direction: column;
  row-gap: 7rem;
}
.footer-nav__menu__item {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-nav__menu__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 0;
  overflow: hidden;
  height: 1rem;
  background: linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.7) 51%, rgba(232, 232, 232, 0) 100%);
  bottom: -6rem;
  left: 0;
  transition: all 0.4s ease;
}
.footer-nav__menu__item:hover::before {
  max-width: 100%;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 14rem;
}

.footer-phone {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
  width: 100%;
  text-align: right;
}

.footer-mail {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
  width: 100%;
  text-align: right;
}

.footer-contacts-sety {
  display: flex;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}

.footer-contacts-info {
  display: flex;
  flex-direction: column;
  row-gap: 14rem;
}

.footer-sety-href {
  width: 30rem;
  height: 30rem;
  display: block;
  position: relative;
}
.footer-sety-href svg {
  width: 100%;
  height: 100%;
}

.footer-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50rem;
}

.footer-info__left {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
}

.footer-info__right {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.footer-btm__info {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.21);
}

.header-product-model {
  font-family: "Magistral", sans-serif;
  font-weight: 500;
  font-size: 20rem;
  text-transform: uppercase;
  color: #fff;
}

.header-product-product {
  font-family: "Magistral", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 140%;
  color: #fff;
}

header.product .header-top {
  justify-content: space-between;
  position: relative;
}
header.product .header-top__cart {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
header.product .header-top__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-screen-info {
  width: 100%;
}

.front-screen-info-heading {
  font-family: "Magistral", sans-serif;
  font-weight: 500;
  font-size: 74rem;
  text-transform: uppercase;
  color: #fff;
}

.front-screen-info-text {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 42rem;
  line-height: 140%;
  color: #fff;
  margin-bottom: 20rem;
}

.front-screen-harr {
  display: flex;
  -moz-column-gap: 42rem;
       column-gap: 42rem;
}

.front-screen-harr-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 12rem;
       column-gap: 12rem;
}

.front-screen-harr-item-img {
  width: 25rem;
  height: 25rem;
}

.front-screen-harr-item-text {
  font-family: "Magistral", sans-serif;
  font-weight: 300;
  font-size: 18rem;
  line-height: 140%;
  color: #fff;
}

.product-harr {
  padding: 128rem 0 64rem 0;
  background: #2c2927;
}
.product-harr-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 642rem);
  gap: 24rem;
  width: 100%;
}

.product-harr-item, .product-slider-slide {
  border-radius: 8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.product-harr-item:nth-child(1), .product-slider-slide:nth-child(1) {
  grid-row: span 2;
}

.product-harr-item-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-harr-item-info {
  width: 100%;
  padding: 100rem 26rem 26rem 26rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.product-harr-item-heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 18rem;
  line-height: 140%;
  color: #fff;
  margin-bottom: 8rem;
}

.product-harr-item-list {
  list-style: none;
}

.product-harr-item-list-item {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
  display: flex;
  align-items: center;
}

.product-harr-item-list-item-svg {
  width: 22rem;
  height: 2rem;
  margin-right: 10rem;
}

.product-harr-item-text {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
  margin-top: 10rem;
}
.product-harr-item-text.slide-text {
  margin-bottom: 10rem;
}
.product-harr-item-text.slide-text:last-child {
  margin-bottom: 0;
}

.product-slider-block {
  padding: 64rem 0;
  overflow: hidden;
}
.product-slider-block .product-slider {
  overflow: visible;
}
.product-slider-block:hover .product-slider-arr-next, .product-slider-block:hover .product-slider-arr-prev {
  opacity: 1;
}
.product-slider-block:hover .product-slider-arr-next.swiper-button-disabled, .product-slider-block:hover .product-slider-arr-prev.swiper-button-disabled {
  opacity: 0;
}

.product-slider-arr-next, .product-slider-arr-prev {
  border: 0.72rem solid #fff;
  border-radius: 101rem;
  padding: 16rem;
  width: 60rem;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -34rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s ease;
  opacity: 0;
}
.product-slider-arr-next:hover, .product-slider-arr-prev:hover {
  box-shadow: 0 0 10px #fff;
}
.product-slider-arr-next.swiper-button-disabled, .product-slider-arr-prev.swiper-button-disabled {
  opacity: 0;
}

.product-slider-arr-prev {
  left: -34rem;
}
.product-slider-arr-prev .product-slider-arr-next-svg {
  transform: rotate(180deg);
}

.product-slider-arr-next-svg {
  width: 30rem;
  height: 30rem;
}

.product-harr-block {
  padding: 64rem 0 128rem 0;
}
.product-harr-block-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-harr-block-heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 30rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5rem 0 rgba(255, 255, 255, 0.2), 0 5rem 13rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 42rem;
}

.product-harr-block-left {
  padding-right: 20rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 642rem;
  max-height: 505rem;
}
.product-harr-block-left:hover::-webkit-scrollbar {
  width: 6rem;
  opacity: 1;
  visibility: visible;
}
.product-harr-block-left:hover::-webkit-scrollbar-track {
  width: 6rem;
  border-radius: 50rem;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  visibility: visible;
}
.product-harr-block-left:hover::-webkit-scrollbar-thumb {
  width: 6rem;
  border-radius: 50rem;
  background: #fff;
  opacity: 1;
  visibility: visible;
}
.product-harr-block-left::-webkit-scrollbar {
  width: 6rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product-harr-block-left::-webkit-scrollbar-track {
  width: 6rem;
  border-radius: 50rem;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product-harr-block-left::-webkit-scrollbar-thumb {
  width: 6rem;
  border-radius: 50rem;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product-harr-block-item {
  width: 100%;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
  padding: 14rem 0rem;
  display: flex;
  justify-content: space-between;
}

.product-harr-block-item-heading {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
  max-width: 507rem;
}

.product-harr-block-num- {
  font-family: "Magistral", sans-serif;
  font-weight: 300;
  font-size: 16rem;
  line-height: 140%;
  text-align: right;
  color: #fff;
  max-width: 113rem;
}

.product-harr-block-img {
  border-radius: 8rem;
  width: 642rem;
  height: 505rem;
}

.product-rev {
  padding: 64rem 0;
}

.product-rev-heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 32rem;
}

.product-rev-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 414rem);
  gap: 32rem;
}

.product-rev-item {
  border-radius: 8rem;
  padding: 19rem 28rem;
  width: 100%;
  height: 218rem;
  padding: 19rem 29rem;
  position: relative;
  background: #35312f;
}

.product-rev-item-star {
  position: absolute;
  right: 29rem;
  top: 19rem;
  width: 24rem;
  height: 24rem;
}

.product-rev-item-name {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
  margin-bottom: 19rem;
}

.product-rev-item-data {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 12rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 9rem;
}

.product-rev-item-text {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: #fff;
}

.product-faq {
  padding: 64rem 0 128rem 0;
}

.product-faq-heading {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 32rem;
}

.product-faq-item {
  border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
  padding: 24rem 0rem;
  width: 100%;
}
.product-faq-item.active .product-faq-item-top-button::after {
  transform: translate(-50%, -50%);
}
.product-faq-item.active .product-faq-item-top-button::before {
  transform: translate(-50%, -50%) rotate(0);
}
.product-faq-item.active .product-faq-item-btm {
  margin-top: 22rem;
  width: 100%;
  max-height: 200rem;
  overflow: hidden;
}

.product-faq-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-faq-item-top-text {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 16rem;
  line-height: 140%;
  color: #fff;
  max-width: 1284rem;
}

.product-faq-item-top-button {
  width: 16rem;
  height: 16rem;
  position: relative;
  cursor: pointer;
}
.product-faq-item-top-button:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2rem;
  background: #fff;
  transform: translate(-50%, -50%);
}
.product-faq-item-top-button:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2rem;
  background: #fff;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.4s ease;
}
.product-faq-item-top-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2rem;
  background: #959493;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}
.product-faq-item-top-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2rem;
  background: #959493;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.4s ease;
}

.product-faq-item-btm {
  margin-top: 0;
  width: 100%;
  max-height: 0rem;
  overflow: hidden;
  transition: all 0.4s ease;
}

.product-faq-item-btm-text {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 14rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
}

.recomend {
  padding: 64rem 0;
}

.recomend-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 300rem);
  gap: 36rem;
}

.recomend-item {
  position: relative;
  border-radius: 8rem;
  overflow: hidden;
}

.recomend-item-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recomend-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 100rem 26rem 26rem 26rem;
}

.recomend-item-info-text {
  font-family: "Magistral", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #fff;
}

.card__info__href.product-button.desk {
  display: flex;
}
.card__info__href.product-button.mob {
  display: none;
}

.product .front-screen {
  position: relative;
}
.product .front-screen::after {
  content: "";
  display: block;
  width: 100%;
  height: 321rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1024px) {
  body,
  html {
    font-size: 0.2666666667vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
  body .noscroll,
  html .noscroll {
    overflow: hidden;
    height: 100vh;
  }
  .container {
    width: 343rem;
    margin-left: 16rem;
    margin-right: 16rem;
  }
  .desk {
    display: none;
  }
  .mob {
    display: initial;
  }
  header {
    padding-bottom: 10rem;
  }
  header .container {
    display: flex;
    justify-content: space-between;
  }
  .header-top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
  }
  .header-top__logo {
    width: 54rem;
    height: 20rem;
  }
  .header-top__cart {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: translateY(0);
    width: 32rem;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-top__cart svg {
    width: 17rem;
    height: 17rem;
  }
  .menuSvg {
    width: 32rem;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menuSvg.active .menu-svg-not-active {
    display: none;
  }
  .menuSvg.active .menu-svg-active {
    display: block;
  }
  .menuSvg .menu-svg-not-active {
    display: block;
  }
  .menuSvg .menu-svg-active {
    display: none;
  }
  .menuSvg svg {
    width: 16rem;
    height: 11rem;
  }
  .header-bottom {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: all 0.4s ease;
    background: #2c2927;
  }
  .header-bottom.active {
    right: 0;
    transform: translateX(0);
    background: #2c2927;
  }
  .syte-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-top: 100rem;
  }
  .syte-nav__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20rem;
  }
  .front-screen {
    height: 664rem;
  }
  .front-screen__heading {
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 20rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5rem 0 rgba(255, 255, 255, 0.2);
  }
  .gallery {
    padding: 64rem 0;
    background: #2c2927;
  }
  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 168rem);
    flex-direction: column;
    gap: 6rem;
  }
  .gallery-wrapper__item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 185rem;
    padding: 6rem;
    border-radius: 4rem;
  }
  .gallery-wrapper__item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery-wrapper__item__name {
    font-weight: 400;
    font-size: 14rem;
    line-height: 140%;
    color: #fff;
  }
  .gallery-wrapper__item:nth-child(1) {
    grid-column: span 2;
  }
  .gallery-wrapper__item:nth-child(4n) {
    grid-column: span 2;
  }
  .gallery-wrapper__item:nth-child(5n) {
    grid-column: span 2;
  }
  .gallery-wrapper__item:nth-child(9n) {
    grid-column: span 2;
  }
  .gallery-wrapper__item:nth-child(10n) {
    grid-column: span 1;
  }
  .gallery-wrapper__item:nth-child(13n) {
    grid-column: span 2;
  }
  .gallery-wrapper__item:nth-child(15n) {
    grid-column: span 1;
  }
  .gallery-wrapper__item:nth-child(17n) {
    grid-column: span 2;
  }
  .gallery-wrapper__item:nth-child(18n) {
    grid-column: span 1;
  }
  .gallery-wrapper__item:nth-last-child(2) {
    grid-column: span 1;
  }
  .card {
    position: relative;
    height: 417rem;
    padding-bottom: 0;
  }
  .card .container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .card__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__desk {
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 20rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 60rem;
  }
  .card__info {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  .card__info__name {
    font-family: "Magistral", sans-serif;
    font-weight: 300;
    font-size: 16rem;
    line-height: 140%;
    color: #fff;
    margin-bottom: 30rem;
  }
  .card__info__product {
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 18rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4rem;
  }
  .card__info__model {
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 24rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30rem;
  }
  .card__info__href {
    width: 60rem;
    height: 60rem;
  }
  .card__info__href svg {
    width: 24rem;
    height: 24rem;
  }
  .gift__heading {
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 26rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 32rem;
  }
  .gift-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(4, 309rem);
    gap: 10rem;
  }
  .gift-wrapper__item {
    height: 280rem;
    border-radius: 8rem;
    overflow: hidden;
  }
  .deliviry .container {
    flex-direction: column;
  }
  .deliviry-left {
    margin-bottom: 64rem;
  }
  .deliviry-left__heading {
    width: 100%;
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 24rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30rem;
  }
  .deliviry-left-items {
    width: 100%;
  }
  .deliviry-left__item {
    width: 100%;
    position: relative;
    padding: 24rem 16rem;
    border-radius: 10rem;
  }
  .deliviry-left__item__doly {
    position: absolute;
    top: 45rem;
    left: 137rem;
  }
  .deliviry-button {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 14rem;
    letter-spacing: -0.01em;
    color: #fff;
    border: 1rem solid #676563;
    border-radius: 8rem;
    padding: 11rem 32rem;
    width: 343rem;
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55rem;
  }
  .deliviry-right {
    width: 100%;
    height: 410rem;
    padding: 16rem 0;
  }
  .deliviry-right__bg {
    width: 100vw;
    margin-left: -16rem;
    left: 0;
  }
  .deliviry-right__text {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 14rem;
    line-height: 140%;
    color: #fff;
    border-radius: 10rem;
    padding: 16rem 24rem;
    width: 343rem;
    height: 105rem;
    -webkit-backdrop-filter: blur(38.7318840027rem);
            backdrop-filter: blur(38.7318840027rem);
    background: rgba(71, 71, 71, 0.3);
  }
  .deliviry .container.garant {
    width: 343rem;
    padding: 16rem;
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  .deliviry-garant-left {
    width: 100%;
    margin-bottom: 56rem;
  }
  .deliviry-garant-left__heading {
    font-family: "Magistral", sans-serif;
    font-weight: 400;
    font-size: 26rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 16rem;
    width: 100%;
  }
  .deliviry-garant-left__text {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 14rem;
    line-height: 140%;
    color: #fff;
  }
  .deliviry-garant-right {
    width: 100%;
  }
  .deliviry-garant-right__text {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 14rem;
    line-height: 140%;
    color: #fff;
    margin-bottom: 16rem;
  }
  .deliviry-garant-right__button {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 14rem;
    letter-spacing: -0.01em;
    color: #fff;
    padding: 11rem 0;
    width: 100%;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  footer .container {
    align-items: flex-start;
  }
  .footer-logo {
    width: 109rem;
    height: 44rem;
    margin-bottom: 32rem;
  }
  .footer-nav__menu__item {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 14rem;
    line-height: 140%;
    color: #fff;
  }
  .footer-contacts {
    margin-top: 32rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-contacts-info {
    display: flex;
    flex-direction: column;
    row-gap: 14rem;
  }
  .footer-nav {
    position: relative;
    margin-bottom: 32rem;
    padding-bottom: 32rem;
  }
  .footer-nav::before {
    content: "";
    display: block;
    width: 100%;
    height: 1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 51%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer-info {
    flex-direction: column;
  }
  .footer-info__right {
    text-align: left;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 12rem;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.2);
  }
  .footer-info__left {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 12rem;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 16rem;
  }
  .footer-btm__info {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 10rem;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.21);
    padding: 0 16rem;
  }
  .footer-phone, .footer-mail {
    text-align: left;
  }
  .front-screen .container {
    padding-bottom: 42rem;
  }
  .video video {
    height: 664rem;
  }
  .video {
    height: -moz-fit-content;
    height: fit-content;
  }
  .header-top {
    padding-bottom: 11rem;
  }
  header {
    padding-top: 10rem;
  }
  header.product .header-top__logo {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
  .header-product-top-right-button {
    width: 148px;
    height: 34px;
    padding: 0;
  }
  .header-product-top-right-button-text {
    font-family: "Magistral", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
  }
  .front-screen-info-heading {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4px;
  }
  .front-screen-info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 20px;
  }
  .front-screen-harr {
    flex-direction: column;
    row-gap: 12rem;
  }
  .front-screen-harr-item-img {
    width: 25px;
    height: 25px;
  }
  .front-screen-harr-item-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }
  .product-harr-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }
  .product-harr-item-info {
    padding: 16px;
  }
  .product-harr-item-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }
  .product-harr-block-item-heading {
    max-width: 220rem;
  }
  .product-harr-item-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  .product-harr-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  .product-slider-pagination {
    display: flex;
    width: 100%;
    position: relative !important;
    top: 0;
    margin-top: 16px;
  }
  .product-slider-pagination .swiper-pagination-bullet {
    background: #fff;
    height: 3px;
    width: 100%;
    border-radius: 50px;
    transition: all 0.4s ease;
  }
  .product-slider-pagination .swiper-pagination-bullet .swiper-pagination-bullet-active {
    background: #fff;
  }
  .product-slider-arr-next, .product-slider-arr-prev {
    display: none;
  }
  .product-slider-block .product-slider {
    height: 528px;
  }
  .product-slider-slide .product-slide-bg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product-harr-block-wrapper {
    flex-direction: column;
    position: relative;
  }
  .product-harr-block-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 88px;
    background: linear-gradient(180deg, rgba(44, 41, 39, 0) 0%, rgba(44, 41, 39, 0.3) 100%);
    bottom: 520rem;
    left: 0;
    z-index: 2;
  }
  .product-harr-block-left {
    width: 100%;
    padding: 0;
    height: 404rem;
    margin-bottom: 32rem;
    position: relative;
  }
  .product-harr-block-heading {
    max-width: 204rem;
    flex-shrink: 0;
  }
  .product-harr-block-num- {
    font-size: 14px;
    line-height: 140%;
    max-width: 113px;
    flex-shrink: 0;
  }
  .product-harr-block-item {
    align-items: center;
  }
  .product-harr-block-img {
    display: none;
  }
  .card.product {
    height: -moz-fit-content;
    height: fit-content;
    padding: 32px 0;
    position: relative;
  }
  .card.product::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    position: absolute;
  }
  .card.product .card__desk {
    text-align: left;
    font-size: 18px;
    line-height: 140%;
    margin-top: 32px;
    font-weight: 500;
  }
  .card.product .card__info__model {
    margin-bottom: 0;
  }
  .card.product .card__info__href.product-button {
    margin-top: 160px;
  }
  .card.product .card__bg {
    top: 0;
    left: 0;
  }
  .card.product .container {
    position: relative;
    z-index: 2;
  }
  .card.product .card__info__product {
    font-weight: 500;
  }
  .card.product .card__info__model {
    font-weight: 500;
  }
  .card__info__href.product-button.desk {
    display: none;
  }
  .card__info__href.product-button.mob {
    display: flex;
  }
  .product-rev {
    padding: 32px 0;
  }
  .product-rev-wrapper {
    flex-direction: column;
    display: flex;
  }
  .product-rev-item {
    height: -moz-fit-content;
    height: fit-content;
  }
  .recomend {
    display: none;
  }
  .product-faq {
    padding: 32rem 0 64rem 0;
  }
  .product-harr-block {
    padding: 32px 0;
  }
  .product-slider-block {
    padding: 32px 0;
  }
  .product-harr {
    padding: 64px 0 32px 0;
  }
}/*# sourceMappingURL=style.css.map */